{% extends 'main.html' %}

{% load static %}


{% block main %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include "browse-topics.html" %}
      
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{ user_obj.first_name }}</h3>
            <p>@{{ user_obj.username }}</p>
            <a href="edit-user.html" class="btn btn--main btn--pill">Edit Profile</a>
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{ user_obj.bio }}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by dennis_ivy</a>
            </h2>
          </div>
        </div>
        {% include "room-list.html" %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include "recent-activities.html" %}
      <!-- Activities End -->
    </div>
  </main>
{% endblock main %}